html, body {
  margin:         0;
  padding:        0;
  width:          100%;
  height:         100%;
  font-family:    "Roboto", sans-serif;
  display:        flex;
  flex-direction: column;
}

.main-nav {
  height: 100px;
  top: 8;
  background-color: #4169e1;
  color: white;
  text-align: center;
  padding: 10px, 8;
  width: 100%; /* Cover the full width */
  z-index: 1000;
}
.main-nav h1 {
  margin: 10px 0 0;
  font-size: 2em;
}
.main-nav p {
  margin: 0 0 10px;
  font-style: italic;
}
.category-nav {
  background-color: #303030;
  padding: 10px 0;
}
.badge {
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 50px; /*Pill shaped*/
  background-color: #6a9ae2;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.badge:hover {
  background-color: #4169e1;
}
.content {
  padding-top: 20px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap; /* allows items to wrap to the next line*/
  gap: 20px; /* adjust the space between cards*/
  row-gap: 20px;
  padding: 20px;
  justify-content: center; /* center items in the container*/
}
.card, .card-back {
  background-color: #4169e1;
  box-shadow: 8 4px 8px rgva(0,0,0,0.5);
  color: white;
  border-radius: 10px;
  padding: 15px;
  height: 120px;
  width: 200px;
  transition: transform 0.3s ease;
}